<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="EndpointUrl" value="https://mongobooks.documents.azure.com:443/" />
    <add key="PrimaryKey" value="wKQANwmtC5OY7luvGroejrx4vFAW1I7sxE6RcuHCxuQUXb0dQbcogjxG8pJOg2P1e18Tbo6BQxIak8lrfwTpPA==" />
  </appSettings>
  <connectionStrings>
    <add name="BooksDbContext" providerName="System.Data.SqlClient" connectionString="Server=tcp:novabookservice.database.windows.net,1433;Initial Catalog=webapidatabase;Persist Security Info=False;User ID=NovaBook@novabookservice;Password=1Bonehead;" />  
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>