<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <connectionStrings>
    <add name="BooksDbContext" providerName="System.Data.SqlClient" connectionString="Server=tcp:p7aby9cauw.database.windows.net,1433;Database=tmodatabase;User ID=tmocloud@p7aby9cauw;Password=MS1informatics;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
  </connectionStrings>
</configuration>